$ionicons-font-path: "../lib/ionic/fonts" !default;
$desktop: 1020px;
@import "www/lib/ionic/scss/ionic";

.error {
	color: $assertive;
	font-size: 0.9em;
}

.password-strength-indicator {
	height: 20px;
	background-color: $positive;
  &.weak {
    background-color: $assertive;
  }
  &.med {
    background-color: $energized;
  }
  &.strong {
    background-color: $balanced;
  }
}

.password-strength-indicator {
  .progress {
    display: none;
  }
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: $desktop) {
  .hidden-sm {
		display:none;
	}
}

@media (min-width: $desktop) {
	.hidden-md {
		display:none;
	}
}
