# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
www/lib/
coverage/

www/app/envSettings.js
www/css/

.idea/
npm-debug.log
