<ion-view view-title="Buscar">
  <ion-header-bar align-title="left" class="bar-positive">
    <div class="buttons">
      <button class="button ion-chevron-left" ui-sref="menu.qrscanner"></button>
    </div>
    <h1 class="title">Buscar</h1>
  </ion-header-bar>
  <ion-content>
    <div class="bar bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Buscar artista o canción" ng-change="vm.search()" ng-model="vm.searchQuery">
      </label>
    </div>

    <div class="list">
      <a class="item item-thumbnail-left" ng-repeat="video in vm.videos" ng-click="vm.addSongToQueue(video)">
        <img ng-src="{{ video.snippet.thumbnails.default.url }}">
        <h2>{{ video.snippet.title }}</h2>
        <p>{{ video.snippet.description }}</p>
      </a>
    </div>
  </ion-content>
</ion-view>
